<h1>Edit Buffet</h1>

<% if @buffet.errors.any? %>
  <p>Check the errors below:</p>
  <ul>
  <% @buffet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= render('form') %>

<br>

<%= link_to 'Cancel', home_buffet_profile_path %>