<h1>Editar Buffet</h1>

<% if @buffet.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
  <% @buffet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= render('form') %>