<h3 style="background-color: green; display: inline-block; padding: 10px;">
  <ul>
    <li>Impedir que o buffet_profile acesse qualquer rota antes de cadastrar o buffet</li>
    <li>adicionar valor de final de semana no pedido</li>
    <li>Melhorar as partials do show order, colocar logica dentro da partial e n no show.html.erb</li>
    <li>Modificar a forma de pagamento que o dono do buffet seleciona para o pedido de um evento, atraves de checkbox</li>
    <li>concertar a forma que calcula order, pra ver se n precisa chamar um metodo e salvar tudo junto</li>
    <li>Certificar que nao da pra vincular um cadastro de um evento em outro buffet</li>
    <li>Ajustar preços de final de semana</li>
    <li>Caso a data atual ainda seja anterior à data-limite, o cliente pode confirmar o pedido. Pedidos confirmados indicam que o evento será realizado.</li>
  </ul>
</h3>