<h3 style="background-color: green; display: inline-block; padding: 10px;">
  <ul>
    <li>O dono do buffet deve registrar também o meio de pagamento que será utilizado.</li>
    <li>concertar a forma que calcula order, pra ver se n precisa chamar um metodo e salvar tudo junto</li>
    <li>Caso a data atual ainda seja anterior à data-limite, o cliente pode confirmar o pedido. Pedidos confirmados indicam que o evento será realizado.</li>
    <li></li>
  </ul>
</h3>