<h3 style="background-color: green; display: inline-block; padding: 10px;">
  <ul>
    <li>Caso a data atual ainda seja anterior à data-limite, o cliente pode confirmar o pedido. Pedidos confirmados indicam que o evento será realizado.</li>
  </ul>
</h3>