<% if @orders.any? %>
  <div style="display: flex; gap: 2rem; flex-wrap: wrap">
    <% @orders.sort_by { |order| [
        order.status == 'Aguardando avaliação do buffet' ? 0 :
        (order.status == 'Pedido aceito pelo buffet' ? 1 :
        (order.status == 'Pedido confirmado pelo cliente' ? 2 :
        (order.status == 'Pedido cancelado' ? 3 : 4))), order.created_at] }.each do |order| %>
          <section>
            <h1><%= link_to "Order #{order.code}", order_path(order) %></h1>
            <p>Event: <%= order.event.name %></p>
            <p>Order Status: <%= order.status %></p>
          </section>
    <% end %>
  </div>
<% else %>
  <p>There are no registered orders</p>
<% end %>