#header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  
  .header_logo{
    background-color: rgb(191, 104, 121);
    color: #FFF;
    flex-grow: 1;
  }
  
  .header_nav {
    display: flex;
    flex-direction:column;
  
    .nav_options{
      display: flex;
      gap: 1rem;

      .nav_option {
        background-color: rgb(191, 104, 121);
        padding: 10px;
        display: flex;
        flex-direction:column;
        align-items: center;
        min-width: 100px;
    
        p {
          font-weight: bold;
          
        }
      
        .nav_links {
          display: flex;
          flex-direction: column;
          gap: 5px;
          
          a {
            color: #FFF
          }
        }
      }
    }
  }
  
  
}